.brands {
  width: 100%;
  float: left;
  padding-top: 0px;
  padding-bottom: 3px;
}

.brands .sect-title {
  margin-bottom: 30px;
}

.brands .brands-img-container {
  width: 100%;
  float: left;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.brands .brand-img {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 20%;
  height: 117px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding: 10px;
}
