@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,600,700);
@font-face {
    font-family: 'WalkwayBlack';
    src: url('../fonts/WalkwayBlack.eot');
    src: url('../fonts/WalkwayBlack.eot') format('embedded-opentype'),
         url('../fonts/WalkwayBlack.woff2') format('woff2'),
         url('../fonts/WalkwayBlack.woff') format('woff'),
         url('../fonts/WalkwayBlack.ttf') format('truetype'),
         url('../fonts/WalkwayBlack.svg#WalkwayBlack') format('svg');
}






body{font-size:13px;color:#666;font-family:'Open Sans',sans-serif;line-height:normal !important;padding-top:0}#template_wrapper{min-width:960px}#template_wysiwyg .template_wysiwyg{height:100%;margin-bottom:20px}.container-fluid{max-width:960px;margin-left:auto;margin-right:auto}.section{margin-bottom:10px}.logo img{max-height:400px;max-width:960px}#template_content{padding:20px;background:#fff}#template_content ul li{line-height:normal !important}.listing_title{width:100%;text-align:center}.zoom{display:inline-block;position:relative;padding:4px;line-height:20px;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.055);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.055);box-shadow:0 1px 3px rgba(0,0,0,0.055);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;max-width:600px;max-height:600px;background:#fff}.thumbnail{background:#fff}.zoom img{display:block;cursor:crosshair}.zoom img::selection{background-color:transparent}#images-zoom .thumbnails li{margin:0 !important;margin-right:2.564102564102564% !important;margin-bottom:2.564102564102564% !important;max-width:130px;max-height:130px}#images-grid{text-align:center}#images-grid .thumbnail{display:inline-block;margin:0 !important;margin-right:1% !important;margin-bottom:1% !important;max-width:280px !important;max-height:280px !important}#images-grid img{max-width:280px !important;max-height:280px !important}#image-section .thumbnails li{text-align:center}#images-stacked,#images-zoom,#images-grid{margin-bottom:15px}#images-stacked img{max-width:920px}#images-stacked .thumbnails li{margin:0;margin-bottom:15px}@media (max-width:767px){body{padding-top:0;padding-left:0;padding-right:0}}.thumbnails li.span8{width:auto !important;display:inline-block;float:left}.thumbnails li a{height:120px;width:120px;line-height:120px;display:block;text-align:center;position:relative}.thumbnail li a::after{content:".";visibility:hidden}.thumbnails li a img{max-height:118px;max-width:118px;vertical-align:middle;margin:auto;position:absolute;top:0;bottom:0;left:0;right:0}#description{padding:5px}.text-container{padding:5px;border:1px solid transparent;position:relative}.inkfrog_promo{font-family:'Open Sans',sans-serif;text-align:center;font-size:13px}.inkfrog_promo a img{border:none}.tab-container{color:#000 !important}







}
