@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,600,700);
@font-face {
    font-family: 'WalkwayBlack';
    src: url('../fonts/WalkwayBlack.eot');
    src: url('../fonts/WalkwayBlack.eot') format('embedded-opentype'),
         url('../fonts/WalkwayBlack.woff2') format('woff2'),
         url('../fonts/WalkwayBlack.woff') format('woff'),
         url('../fonts/WalkwayBlack.ttf') format('truetype'),
         url('../fonts/WalkwayBlack.svg#WalkwayBlack') format('svg');
}


body{ padding:0; margin:0; font:400 12px/14px "Roboto",sans-serif; color:#000; background:#fff;}
*{ box-sizing:border-box; padding:0; margin:0;}
div:after{ clear:both; content:""; display:table;}
.container img{ max-width:100%; vertical-align:middle;}
body a:link, body .g-novisited a:visited{ text-decoration:none !important;}
.ess_background ul, .ess_background ol, #footer-section ul , ul, ol{ list-style-type:none; padding:0; margin:0;}
.ess_background div:after, ess_background ul:after, .ess_background ol:after, #footer-section ul:after, #footer-section div:after , ul:after, ol:after, div:after{ clear:both; line-height:0; content:""; visibility:hidden; display:block;}
#header{ 
background: #000000;

}

.container { width:1200px; margin:0 auto; vertical-align:top;}
.pagecontainer > table > tbody > tr > td > table+table{    margin: 0 auto;    width:1200px; max-width:100%}

#top-section{ overflow:hidden; width:100%; display:block; background:url(../images/header-bg.jpg) no-repeat 50% 0; padding:0 0 15px; background-size:cover;}
#CentralArea > p {    color: black;    font-size: 14px;    margin-right: 10px;    padding: 22px 0 0;    text-align: justify;}
#header-top{ background:#1f1a17; padding:15px;}
#logo{ float:left; padding:0 0 6px;}
#search {float:right;overflow: hidden;position: relative;width:300px; height:40px; margin:16px 0 0; border:solid 1px #aaaaaa; border-radius:5px;}
#search input[type="text"] {background: #fff;border: 0 none;font:400 14px/38px "Roboto",sans-serif;height:38px;text-indent: 10px;width:100%; color:#000000; }
#search input[type="submit"], #search input[type="button"] {background:#c2c2c2 url(https://cdn.rawgit.com/autobuff/eBay/1db2c03e/magnify.png) no-repeat scroll 50% 50%;border: 0 none;height:38px;position: absolute;right: 0;top: 0;width: 40px; cursor:pointer; font-size:0;}
.top_white{ float:right; padding:15px 0 25px;}

#nav-btn{ display:none;}
#navigation-panel{clear:both; position:relative; background: #000000; }
#navigation-panel ul{ margin-bottom:0;}
#navigation-panel ul li{ float:left; position:relative;}
#navigation-panel ul li a{ display:block; color:#b9b9b9;font:400 13px/45px 'Arial'; text-transform:uppercase; padding:0 62px;}
#navigation-panel ul li ul li a{ padding:0 15px;}
#navigation-panel ul li a:hover, #navigation-panel ul li a:focus{ color:#32435d;}

#navigation-panel ul li.hasmenu > a{ background-image:url(../images/submenu.png); background-repeat:no-repeat; background-position:calc(100% - 15px) 50%; cursor:pointer;}
#navigation-panel ul li .submenu{ display:none;}
#navigation-panel ul ul{ position:absolute; left:0; top:100%; background:#3c1706; min-width:230px; display:none; border-radius:0 0 4px 4px; z-index:
99;}
#navigation-panel ul ul ul{ position:absolute; left:100%; top:0; background:#682303; box-shadow:0 0 5px #000;}
#navigation-panel ul ul li{ float:none; padding:1px 0 0;}
#navigation-panel ul ul li a{ white-space:nowrap; font:400 17px/40px 'Arial';}
#navigation-panel input[type="checkbox"]{ display:none;}
#navigation-panel input[type="checkbox"]:checked+ul{ display:block;}

#banner{ overflow:hidden; display:none;}
#banner img{ max-width:100%; border:none; height:auto;}

#banner-bottom{ background:#32435d; border-bottom:solid 14px #e1e1e1; border-top:solid 14px #e1e1e1;}

#bodysec{  padding:0 0 30px;}
#shipping-section{ padding:15px 0 0;}

.gift1{ float: left;padding:23px 0;width:24.80%; text-align:center; box-sizing:border-box;}
/*.gift1+.gift1{ background:url(../images/divider.png) no-repeat 0 50%;}*/
.gift1 > div {color: #fff;display: inline-block;font:300 18px/20px "Raleway",sans-serif;padding:0 0 0 68px;position: relative;text-align: left; text-transform:capitalize;}
.gift1 > div strong{ font:700 18px/20px "Raleway",sans-serif;}
.gift1 > div img{ position:absolute; left:0; top:-5px;}
.gift1:nth-child(4n+2){ background:#231f20; transform: skew(-13deg);  }
.gift1:nth-child(4n+2) > div{  transform: skew(13deg);}
.gift1:nth-child(4n+4){ background:#231f20; transform: skew(-13deg);}
.gift1:nth-child(4n+4) > div{  transform: skew(13deg);}

.addsection{ margin:15px 0 0;}
.seventy{ width:66%; float:left;}
.seventy div{ padding:15px 0 0;}
.thirty{ width:32%; float:right;}
.thirty div{ padding:16px 0 0;}

.product_sec{ background:#fff;  margin:25px 0 0;}
.heading {color: #000;font:400 29px/32px "Roboto",sans-serif;   padding:0 0 10px; border-bottom:double 1px #ccc; text-transform:uppercase;}
.heading span{ font-weight:400; text-transform:capitalize; font-size:18px;}
.heading-right {float: right;font:400 15px/30px "Raleway",sans-serif;padding: 5px;text-transform: none;}
.heading-right select {-moz-appearance: none;background: #fff url(../images/icon10.jpg) no-repeat scroll calc(100% - 0px) 50%;border: 1px solid #888888;cursor: pointer;height: 26px;margin: 0 0 0 5px;padding: 0 24px 0 0;}


.brandsec{ padding:20px 0;}
.brandheading{ background:url(../images/headingbg.jpg) repeat-x 0 50%; font:400 30px/32px "Roboto",sans-serif; color:#000; text-align:center;}
.brandheading span{ background:#fff; padding:0 30px; text-transform:uppercase;}
.brandsec ul{ padding:20px 0 0;}
.brandsec ul li{ float:left; margin:0 0 0 24px;}
.brandsec ul li:first-child{ margin-left:0;}


#right-section{ margin:0 0 0 13px; float:right; width:880px;}
select option{ padding:3px 0; }
