@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regular.woff') format('woff'),
         url('../fonts/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/myriadpro-regular.svg#myriadpro-regular') format('svg');
    font-weight: normal;    font-style: normal;}

body{ padding:0; margin:0; font:400 12px/14px "Roboto",sans-serif;}
*{ box-sizing:border-box; padding:0; margin:0;}
div:after, ul:after, ol:after{ clear:both; content:""; display:table;}
img{ max-width:100%; vertical-align:middle;}
a:link, a:visited{ text-decoration:none !important;}
ul, ol{ list-style-type:none; padding:0; margin:0;}

.container { width:1200px; margin:0 auto; vertical-align:top;}


#top-section{ overflow:hidden; width:100%; display:block; no-repeat 50% 0; padding:0 0 15px; background-size:cover; margin-bottom:25px;}
#CentralArea > p {    color: black;    font-size: 14px;    margin-right: 10px;    padding: 22px 0 0;    text-align: justify;}
#header-top{ background:#1f1a17; padding:15px;}
#logo{ float:left;}
#search {float:right;overflow: hidden;position: relative;width:300px; height:40px;}
#search input[type="text"] {background: #fff;border: 0 none;font:400 14px/40px "Roboto",sans-serif;height:40px;text-indent: 10px;width:calc(100% - 30px); color:#9b9b9b; }
#search input[type="submit"], #search input[type="button"] {background:#c2c2c2 url(https://cdn.rawgit.com/autobuff/eBay/1db2c03e/magnify.png) no-repeat scroll 50% 50%;border: 0 none;height:40px;position: absolute;right: 0;top: 0;width: 40px; cursor:pointer; font-size:0;}
.top_white{ float:right; padding:15px 0 25px;}

#nav-btn{ display:none;}
#navigation-panel{clear:both; position:relative; background:#262626;}
#navigation-panel ul{ margin-bottom:0;}
#navigation-panel ul li{ float:left; position:relative;}
#navigation-panel ul li a{ display:block; color:#b9b9b9;font:400 16px/50px 'Roboto', sans-serif; text-transform:uppercase; padding:0 47px 0 48px;}
#navigation-panel ul li ul li a{ padding:0 15px;}
#navigation-panel ul li a:hover, #navigation-panel ul li a:focus{ background:#262626;}
#navigation-panel ul li.hasmenu > a{ background-image:url( ); background-repeat:no-repeat; background-position:calc(100% - 15px) 50%; cursor:pointer;}
#navigation-panel ul li .submenu{ display:none;}
#navigation-panel ul ul{ position:absolute; left:0; top:100%; background:#3c1706; min-width:230px; display:none; border-radius:0 0 4px 4px; z-index:
99;}
#navigation-panel ul ul ul{ position:absolute; left:100%; top:0; background:#682303; box-shadow:0 0 5px #000;}
#navigation-panel ul ul li{ float:none; padding:1px 0 0;}
#navigation-panel ul ul li a{ white-space:nowrap; font:400 17px/40px 'comic_5';}
#navigation-panel input[type="checkbox"]{ display:none;}
#navigation-panel input[type="checkbox"]:checked+ul{ display:block;}

#shipping-section{ margin:10px 0 0; text-align:center; overflow:hidden; background:url("") repeat-y 50% 0 #fff;}
#shipping-section img{ float:left;}
#shipping-section p{ font:normal 16px/20px 'MyriadPro-Regular'; float:left; text-align:left; text-transform:uppercase; padding:6px 0 0 15px;}
#shipping-section p span{ font:bold 18px/20px 'MyriadPro-Regular'; display:block;}
#shipping-section > div{ float:left; width:25%; background:#fff; padding:15px 0; -ms-transform: skewX(-20deg); -webkit-transform: skewX(-20deg);   transform: skewX(-20deg);}
#shipping-section > div > div{ display:inline-block;-ms-transform: skewX(20deg); -webkit-transform: skewX(20deg);   transform: skewX(20deg);}
#shipping-section > div:nth-child(2n+1){ background:#79bfe1;}
#shipping-section > div+div{ border-left:2px solid #3c3c3c;}


.gallery-section { display:block; overflow: hidden; position:relative; text-align:center; margin:0 auto; max-width:700px;}
.image-holder{ padding:5px; border:1px solid #c2c2c2;}
.gallery-section ul{ list-style-type:none; margin:0 -3px;}
.gallery-section:after, .gallery-section div:after, .gallery-section ul:after{  clear: both; content: ""; display: block; line-height: 0; visibility: hidden;}
.gallery-section img{  height: auto;  max-width: 100%; vertical-align: middle;}
.product-img-box{ display:block; overflow:hidden; position:relative;}
.product-img-box ul li+li{ display:none;}
.product-thumb {  margin: 0 0 -20px;  padding: 12px 0 20px;  z-index: 999;}
.product-thumb ul li {  float: left; padding: 3px !important;  text-align: center;  width:25%; box-sizing:border-box;}
.product-thumb ul li:nth-child(4n+1){ clear:left;}
.product-thumb ul li img{ border:1px solid #ccc;}
.gallery-section .image-holder img{ box-shadow:none;}
.gallery-section label{ cursor:pointer;}
.image-holder input[type="radio"]{ display:none;}
.image-holder input[type="radio"]:checked+img{ opacity:1; position:relative; left:auto; top:auto;}
.image-holder input[type="radio"]+img{ opacity:0;transition: all 900ms ease-out 0s; position:absolute; left:-200%; top:-200%;}

.tab-content > label, .tab-content > a{ background: #7dc7ea;  border-radius: 4px 4px 0 0; color: #000; display:inline-block;font: 400 14px/47px "Roboto",sans-serif;   padding:0 28px; margin-bottom:0; cursor:pointer; text-transform:uppercase; height:47px; text-align:center;}
.tab-content input[type="radio"]{ display:none;}
.tab-content input[type="radio"]:checked+label, .tab-content > label:hover, .tab-content > a:hover{ background: #7dc7ea;  border:none; color:#fff; margin-bottom:0;}
.tab-content > div{ display:none;}

.accordion-content{ border:1px solid #e7e7e7; border-radius:0 0 4px 4px; padding:1px 15px 15px; background:#fff;}
.accordion-heading{ font:400 16px/30px "Roboto",sans-serif; padding:1px 18px; color:#313131; border-radius:4px 4px 0 0; border:1px solid #ececec; cursor:pointer; background:#d6d6d6;}
.accordion-heading.ui-accordion-header-active{ color:#fff; background:#074e98; border:1px solid #3c1706;}
.accordion-content p{ font:400 14px/20px "Roboto",sans-serif; color:#464545; padding:10px 0 0;}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6   {    display: block;}

#details-left{ width:50%; float:left;}
#details-right{ width:48%; float:right;}
#details-right h1{ color:#000; font:400 34px/40px "Roboto",sans-serif; border-bottom:1px solid #d3d3d3; margin:0 0 10px; padding:0 0 5px;}
#details-right p{ color:#464545; font:400 14px/20px "Roboto",sans-serif; padding:0 0 10px;}
#details-right p.text-u{ text-transform:uppercase;}
#details-right .price{ color:#000; font:400 25px/30px "Roboto",sans-serif; padding:15px 0 10px;}
#details-right .price span{ font-weight:700; font-size:32px;}
.tab-content{ padding:25px 0}
#footer .container{ background:#7dc7ea; padding:24px;}
.copyright{ font:400 14px/16px  "Roboto",sans-serif; color:#fff; float:left; padding:20px 0 0;}
.right-footer {
    background: rgba(0, 0, 0, 0) url("") no-repeat scroll 100% 50%;
    color: #fff;
    float: right;
    font: 400 16px/28px "Raleway",sans-serif;
    padding: 7px 130px 7px 0;
    text-transform: uppercase;
}

@media only screen and (max-width: 1198px) {
.container { width:1000px;}
#navigation-panel ul li a{ padding:0 30px;}
}
@media only screen and (max-width: 990px) {
.container { width:750px;}
#details-left{ width:100%; float:none;}
#details-right{ width:100%; float:none; padding:15px 0 0;}

#navigation-panel ul li a {    padding: 0 10px;}
#search{ width:260px;}
#shipping-section p{ font:normal 14px/20px "MyriadPro-Regular";  padding: 0 0 0 5px;}
#shipping-section p span{ font: bold 15px/20px "MyriadPro-Regular";}
#shipping-section img{width:40px;}
}
@media screen and (max-width: 767px) {
.container { width:auto; width:98%;}
#details-right h1{ font-size:24px; line-height:26px;}
.tab-content > label, .tab-content > a{ width:100%; padding:0; margin:5px 0 0;}
.copyright{ float:none; text-align:center;}
.right-footer{ float:none; text-align:center; margin:0 auto; display:table;}


#header-top{ padding:10px;}
#logo{ float:none; width:100%; text-align:center; left:0;}
#logo img{ max-width:310px;}
#search{ float:right; margin:20px 0 0; width:240px;}
#shipping-section{ background:#fff;}
#shipping-section > div{    float:none;    width:100%;}
#shipping-section .shipping-section{ padding:10px 0 10px 70px; width:300px; box-sizing:border-box;}
#shipping-section .shipping-section img{ top:10px;}
#shipping-section > div{ padding:10px 0;}
#shipping-section .shipping-section{ width:180px; padding:0;}
#shipping-section > div{ -ms-transform: skewX(0deg); -webkit-transform: skewX(0deg);   transform: skewX(0deg);}
#shipping-section > div > div{-ms-transform: skewX(0deg); -webkit-transform: skewX(0deg);   transform: skewX(0deg);}
#shipping-section > div+div{  border-left:0; border-top:2px solid #3c3c3c;}
#navigation-panel{ padding:0; float:left; width:50px; margin:-55px 0 0 10px; position:relative; z-index:99; background:none;}
#nav-btn{ display:block; margin:10px 5px 0; background:url(https://cdn.rawgit.com/autobuff/eBay/639c0240/navigation.png) no-repeat 0 50%; font-size:0; height:32px; color:#fff; text-transform:uppercase; cursor:pointer; border-radius:4px;}
#navigation-panel ul{ width:290px; display:none; padding:0; background:#666; box-shadow:0 0 4px #323232; position:absolute; left:0; top:100%;}
#navigation-panel ul li, #navigation-panel ul li:last-child{ float:none; text-align:left;}
#navigation-panel ul li, #navigation-panel ul li+li{ background:none; border-top:solid 1px #323232; padding:0; border-left:none;}
#navigation-panel ul li a{ line-height:40px;}
#navigation-panel ul li.hasmenu > a{ display:block;}
#navigation-panel ul li.hasmenu .submenu{ background:url("") no-repeat 50% 50%; width:14px; height:14px; display:block; position:absolute; top:10px; right:5px; display:block;}
#navigation-panel ul li.hasmenu > a{ background-image:none;}
#navigation-panel ul ul{ position:relative; width:auto; min-width:inherit; top:auto; left:auto; background:#57250e; margin:0 4px; border-radius:4px;}
#navigation-panel ul ul ul{ position:relative; left:auto; top:auto;}
}
@media only screen and (max-width: 550px) {
#category-options > div {  padding: 15px 8px 0; width:100%; float:none;}

}
@media only screen and (max-width: 490px) {

}
